@use '@resources/scss/colors';
@use '@resources/scss/breakpoints';

.navbar-item {
	color: colors.$primary;
	display: flex;
	align-items: center;

	a {
		display: flex;
		text-decoration: none;
		color: inherit;
		align-items: center;
	}
}

@media screen and(max-width: breakpoints.$mobile-large - 1) {
	.navbar-item {
		justify-content: center;
	}
}

@media screen and(max-width: breakpoints.$laptop - 1) {
	.navbar-item {
		height: 3rem;
		justify-content: left;

		a {
			display: flex;
			height: 100%;
			align-items: center;
			.icon {
				margin-right: 1rem;
				height: 1.5rem;
				width: 1.5rem;
			}
		}
	}
}

@media screen and(min-width: breakpoints.$laptop) {
	.navbar-item {
		padding: 0 1rem;
		margin-left: 1rem;
		height: 2rem;
		border-radius: 1rem;
		cursor: pointer;

		transition-property: background, color;
		transition-timing-function: ease-in-out;
		transition-duration: 0.25s;

		&:hover {
			background: colors.$primary;
			color: colors.$white;
		}

		a {
			.icon {
				margin-right: 1rem;
			}
		}
	}
}
