$primary: #a855f7;
$secondary: #374151;
$tertiary: #6b7280;
$quarternary: #9ca3af;
$white: #ffffff;
$black: #000000;
$base: #faf5ff;
$success: #6cc57c;
$warning: #fbbf24;
$danger: #ef4444;
$disabled: #d1d5db;
$map: (
	primary: $primary,
	secondary: $secondary,
	tertiary: $tertiary,
	quarternary: $quarternary,
	success: $success,
	warning: $warning,
	danger: $danger,
	'white': $white,
	'black': $black,
);