@use '@resources/scss/breakpoints';
@use '@resources/scss/colors';

@media screen and (max-width: breakpoints.$desktop) {
	html {
		font-size: 0.85rem;
	}
}

@media screen and(max-width: (breakpoints.$laptop - 1)) {
	html {
		font-size: 1rem;
	}
}

@media screen and(min-width: breakpoints.$desktop) {
	body {
		overflow: visible !important;
	}
}
