@use '@resources/scss/colors';
@use '@resources/scss/breakpoints';

.contact {
	padding: var(--section-padding-y) var(--section-padding-x);
	.heading {
		margin-bottom: var(--section-padding-y);
	}
	.content {
		display: grid;
		grid-gap: 2rem;
		.heading {
			margin-bottom: 1rem;
		}
		.card {
			.form {
				background: colors.$white;
			}
		}
	}
}

@media screen and(min-width: 0px) {
	.contact {
	}
}

@media screen and(min-width: breakpoints.$mobile-medium ) {
	.contact {
	}
}

@media screen and(min-width: breakpoints.$mobile-large) {
	.contact {
	}
}

@media screen and(max-width: breakpoints.$laptop - 1) {
	.contact {
		.content {
			grid-template-columns: 1fr;
		}
	}
}

@media screen and(min-width: breakpoints.$laptop) {
	.contact {
		.content {
			grid-template-columns: 1fr 2fr;
		}
	}
}

@media screen and(min-width: breakpoints.$desktop) {
	.contact {
	}
}
